/* Основні стилі для правої панелі, заголовок (ІМ'Я) */
.header_title {
  color: #2c7a7b;
  font-size: 3.5rem;
  margin-bottom: 0;
}
.lead {
    letter-spacing: 2px;
}
/* Стилі для експертизи перенесені в компонент expertise */
