<div class="contact mb-4">
  <h3 class="left_title text-uppercase fs-5 border-bottom pb-2">Контакти</h3>
  <ul class="list-group list-group-flush contact_list">
    <li class="list-group-item bg-transparent text-white border-secondary px-0 py-1">
      <p class="fw-bold mb-0 small">Телефон</p>
      <a class="text-info small text-decoration-none" href="tel:+000123456789">+000 123 456 789</a>
    </li>
    <li class="list-group-item bg-transparent text-white border-secondary px-0 py-1">
      <p class="fw-bold mb-0 small">Email</p>
      <a class="text-info small text-decoration-none" href="mailto:urname@gmail.com">urname@gmail.com</a>
    </li>
    <li class="list-group-item bg-transparent text-white border-secondary px-0 py-1">
      <p class="fw-bold mb-0 small">Вебсайт</p>
      <a class="text-info small text-decoration-none" href="#">urwebsitename.com</a>
    </li>
  </ul>
</div>
