/* З left.css */
.left_title {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
.contact_list .list-group-item {
    background-color: transparent !important;
    color: white !important;
    border-color: rgba(255,255,255,0.1) !important;
}
