.footer-container {
    background-color: #17252a; /* Твій темно-синій колір $dark-color */
    color: #def2f1;           /* Твій світлий колір $light-color */
    padding: 20px 0;
    margin-top: 0;             /* Щоб він щільно прилягав до контенту */
    border-top: 3px solid #3aafa9; /* Бірюзова лінія зверху для акценту */
}

.footer-container p {
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.8;
    letter-spacing: 1px;
}
