header {
    background-color: var(--dark-color);
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

h1 {
    color: var(--light-color);
    font-size: 1.2rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
