:host {
    display: block;
    background-color: var(--dark-color);
    color: white;
    min-height: 100%;
    padding: 30px;
}
/* Інші стилі (для заголовків лівої панелі тощо) залишилися в дочірніх компонентах */
